@font-face {
  font-family: "icons"; /* Project id 5156752 */
  src: url('iconfont.woff2?t=1777517078709') format('woff2'),
       url('iconfont.woff?t=1777517078709') format('woff'),
       url('iconfont.ttf?t=1777517078709') format('truetype');
}

.icons {
  font-family: "icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-collect:before {
  content: "\e604";
}

.icons-service:before {
  content: "\e660";
}

.icons-settings:before {
  content: "\e616";
}

.icons-workbench:before {
  content: "\e605";
}

.icons-msg:before {
  content: "\e62c";
}

.icons-contacts:before {
  content: "\e655";
}

.icons-mine:before {
  content: "\e62f";
}

